.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/*Animación líneas en el navbar.*/
.navbar-nav .nav-link {
  position: relative;
  font-size: 22px;
  margin-right: 20px;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
  z-index: 1;
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
}



/*Estilos botón de "Proyectos" en Inicio.*/
.boton {
  background-color: #dc143c;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #8b0000;
}




/*.image-fondo{
  background-image: url('../public/pixel\ art\ fondo.jpg');
  background-size: cover;
  background-position: center;
}*/






.titulo-sobre-mi {
  font-size: 3rem; /* Tamaño de fuente mucho más grande */
}






.tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tecnologia {
  width: 50px; /* ajusta el tamaño según tus necesidades */
  margin-right: 40px; /* añade margen entre las imágenes */
  height: auto; /* Altura se ajusta automáticamente */
  transition: transform 0.3s ease; /* Transición suave para la rotación */
}

.tecnologia:hover {
  transform: scale(1.2) rotate(-20deg); /* Efecto de agrandamiento y rotación al hacer hover */
}